{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>ajouter un article</title>
{% endblock %}

{% block body %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

    <div class="container">
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="{{ url_for('admin_article.valid_add_article') }}"  method="post">
            <fieldset>
                <legend><h2>Ajout d'un article</h2></legend>
                <input type="hidden" name="id">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <label for="nom">Nom</label>
                        </th>
                        <th>
                            <input class="form-control" type="text" placeholder="Entrer votre nom" name="nom" required id="nom">
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <label for="description">description</label>
                        </td>
                        <td>
                            <textarea class="form-control" name="description" placeholder="Entrer la description du produit" required id="description"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Prix">Prix</label>
                        </td>
                        <td>
                            <input class="form-control" type="number" step="0.01" name="Prix" placeholder="Prix" required id="Prix">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="stock">Stock</label>
                        </td>
                        <td>
                            <input class="form-control" type="number" name="stock" placeholder="Stock" required id="stock">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Image">Image</label>
                        </td>
                        <td>
                            <input class="form-control" type="file" name="Image" placeholder="Image" required id="Image">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="fournisseur">Fournisseur</label></td>fournisseur
                        <td>
                            <select class="form-control" name="fournisseur" required id="fournisseur">
                                <option value="">Sélectionner un fournisseur</option>
                                {% for type in fournisseur %}
                                    <option value="{{ type.idFourniseur }}"> {{ type.libelleFourniseur }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="TypeProduit">TypeProduit</label></td>
                        <td>
                            <select class="form-control" name="TypeProduit" required id="TypeProduit">
                                <option value="">Sélectionner le type de produit</option>
                                {% for type in TypeProduit %}
                                    <option value="{{ type.idType }}"> {{ type.LibelleType }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Taille">Taille</label></td>
                        <td>
                            <select class="form-control" name="Taille" id="Taille">
                                <option value="0">Sélectionner une taille si existant sur le produit</option>
                                {% for type in Taille %}
                                    <option value="{{ type.idTaille }}"> {{ type.LibelleTaille }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Grade">Grade</label></td>
                        <td>
                            <select class="form-control" name="Grade" id="Grade">
                                <option value="0">Sélectionner un grade d'impression si existant sur le produit</option>
                                {% for type in Grade %}
                                    <option value="{{ type.idGrade }}"> {{ type.Libelle }} / {{ type.abreviation }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="center">
                    <input class="form-control" type="submit" name="f1_submit" value="Valider">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
