{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les articles</title>
{% endblock %}

{% block body %}
    <h2>ajout d'un article</h2>
    <form action="/admin/article/add"><button class="btn btn-primary" >Ajouter un produit</button></form><br>
    <div class="container">
        <div class="row align-self-right">
            <div class="col-8">
              <h3>Les filtres</h3>
              Articles dont le nom est composé par :<br>
                 {% include('client/boutique/_filtre.html') %}
            </div>

        </div>

        <div class="bg-light p-3">
            <h1>Les articles</h1>
        </div>

        <div class="row">
                {% for article in articles %}
                        <div class="card col-4 mt-4">
                            <div class="card-body border-dark rounded">
                                <a href="/client/article/details/{{ article.idProduit }}">
                                    <h2 class="card-title">
                                        <span style="color: #0b2e13">{{ article.LibelleProduit }}</span><br>
                                            {{ article.Prix }}
                                            €
                                    </h2>
                                    <div class="card-body">
                                        {%  if article.imageProduit is not none %}
                                            <img class="card-img-top rounded mx-auto d-block"  style="width:300px;height:300px"  src="{{ url_for('static', filename = 'images/'+article.imageProduit) }}"  alt="image  de {{ article.LibelleProduit }}" >
                                        {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ article.LibelleProduit }}" >
                                        {% endif %}
                                        <hr>
                                    </div>
                                </a>
                                <div class="card-body">
                                        <a href="/admin/article/edit?id={{ article.idProduit }}" method="post">
                                            <button class="btn btn-primary float-right">
                                                Editer
                                             </button>
                                        </a>
                                    <a href="/admin/article/delete/{{article.idProduit }}"  onclick="return confirm('Are you sure?')">
                                        <button class="btn btn-danger float-right">
                                            Supprimer
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                            {% if article.Stock is defined %}
                                 {% if article.Stock > 0 %}
                                    <small class="text-muted">Stock restant : {{ article.Stock }}</small>
                                 {% else %}
                                    <small class="text-muted">article  momentanément indisponible</small>
                                 {% endif %}
                            {% endif %}
                                <br>
                            {% if article.nb_notes is defined %}
                            {% if article.nb_notes > 1 %}
                                 <a  href="/client/article/details/{{ article.idProduit }}">
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(article.moy_notes) }}</span>
                                 </a>
                            {% endif %}
                            {% endif %}
                            {% if article.nb_avis is defined %}
                            {% if article.nb_avis > 0 %}
                                 <a href="/client/article/details/{{ article.idProduit }}">
                                    <span style="color: #3A7734">({{ article.nb_avis }} avis)</span>
                                 </a>
                            {% endif %}
                            {% endif %}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}