{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types d'article</title>
{% endblock %}
{% block body %}
    {% if articles | length >= 1 %}
        <h3>Suppression d'un type d'articles impossible</h3>
        <br>
        <h3>Il y a <span style="color:red;"> {{ nbr_articles.nbr_articles }} </span> article(s) à supprimer</h3>
        <br>
        <ul>
                {% for ligne in articles %}
                <li>
                         nom : {{ ligne.LibelleProduit }} -  stock : {{ ligne.Stock }} - <a class="btn btn-outline-danger" href="/admin/type_article/delete?id={{ ligne.idType }}&amp;id_article={{ligne.idProduit}}" >supprimer</a>
                </li><br>
                {% endfor %}
    {% else %}
        <h3>Tous les articles ont été supprimés</h3>
        <a href="/admin/type_article/delete?id={{type_article.idType}}" class="btn btn-danger">Supprimer le type</a>
    {% endif %}
    </ul>
    <a class="btn btn-outline-warning" href="/admin/type_article/show" >annuler</a>
{% endblock %}
