{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types d'article</title>
{% endblock %}

{% block body %}
<h3>Types d'article</h3>
<a class="btn btn-outline-success" href="/admin/type_article/add">ajouter un type d'article</a>
<br><br>
<table class="table table-bordered" style="text-align: center;">
    <thead class="thead-dark">
        <th scope="row">#</th>
        <th>Type de produit</th>
        <th>Actions</th>
    </thead>
    {% for type in type_article %}
        <tr>
            <th scope="row">{{type.idType}}</th>
            <td>{{type.LibelleType}}</td>
            <td>
                <a href="/admin/type_article/edit/{{type.idType}}"><button class="btn btn-primary">Editer</button></a>
                <a href="/admin/type_article/delete/confirm/{{type.idType}}" onclick="return confirm('Are you sure?')"><button class="btn btn-danger">Supprimer</button></a>
            </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}
