<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Récupération de votre mot de passe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}" >
</head>
<body>
{% include('auth/_nav.html') %}
    <div class="container">
        <h1>Mot de passe oublié ?</h1>
        <p>Vous avez oublié votre mot de passe et vous souhaitez vous authentifier ? Il n'y a pas de probleme !</p>
        <h2>Récupérer son mot de passe</h2>
        <p>Vous aurez besoin de renseigner ci-dessous :</p>
        <form action="/auth/forget-password">
            <ul style="list-style-type: none">
                <li>
                    <label>Votre nom d'utilisateur : </label>
                    <input type="text" class="form-control" id="username">
                </li><br>
                <li>
                    <label>Votre adresse mail : </label>
                    <input class="form-control" type="email" id="mail">
                </li><br>
            </ul>
            <button type="submit" class="btn btn-success">Envoyer</button>
        </form>
    </div>
</body>
</html>